a:link {
  color: #615aa8; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #592661;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #a3da58;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #f7ba2b;
  background-color: transparent;
  text-decoration: underline;
}

h1 {
	color: #7A50AB;
font-size: 33px;
font-weight: bold;
text-align: center;
}

.Page1heading {
	color: #7A50AB;
font-size: 33px;
font-weight: bold;
text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.NavigationText {
text-align: center;
}

.Evangelion {
background-image: url(./Images/EvaGroup.png);
background-size: cover;
height: 100%;}

body {
cursor: url(./Images/cassiuslance2.png), auto;
}

a { 
cursor: url(./Images/asukaface2.png), auto; 
}

.WarningMarquee {
animation: blinker 2s linear infinite;
color: red;
font-weight: bolder;
font-family: sans-serif;
font-size: 22px;
}
    
@keyframes blinker {
33% {
opacity: 0.4;
}

audio:not([controls]) {
    display: none !important;
}
audio {
    width: 300px;
    height: 54px;
}